@import "../../global";

.header-wrapper {
  height: 4rem;
  position: relative;
  // border-bottom: 1px solid mat-color($primary, divider);
}

.header-content {
  height: 100%;
  display: flex;
  align-items: center;
}

#main-title {
  padding: 0 20px 0 10px;
}

#search {
  display: flex;
  align-items: center;
  height: 100%;
  input {
    height: 45%;
  }
}

@media (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
  .header-content {
    margin: 0 10%;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .header-content {
    margin: 0 20%;
  }
}
