@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .header-wrapper {
    background-color: mat-color($primary);
    #main-title {
      color: mat-contrast($primary, 500);
      font-size: 30px;
    }

    mat-icon {
      color: mat-contrast($primary, 500) !important;
    }

    .menuWrapper {
      background-color: mat-color($primary) !important;
    }

    .mat-form-field-label,
    mat-form-field {
      color: mat-contrast($primary, 500) !important;
    }
    .mat-form-field-underline {
      background-color: mat-contrast($primary, 500) !important;
    }
  }
  .username {
    color: mat-color($foreground, text);
  }
}
