<div class="header-wrapper" color="primary">
  <div class="header-content">
    <div
      id="main-title"
      routerLink="/category/all"
      *ngIf="!searchVisible() || (!(isHandset$ | async) && searchVisible())"
    >
      Cllct
    </div>
    <div id="tools">
      <div id="search" *ngIf="(user$ | async) && searchVisible()">
        <form action="">
          <mat-icon id="searchIcon">search</mat-icon>
          <mat-form-field>
            <input
              matInput
              (keyup)="updateFilterTerm($event.target.value)"
              (keydown.enter)="$event.preventDefault()"
              placeholder="Filter by name, tag or url"
              matAutosize="true"
            />
          </mat-form-field>
        </form>
      </div>

      <div id="theme-container">
        <mat-icon>
          wb_incandescent
        </mat-icon>
        <mat-slide-toggle
          [checked]="isDarkTheme | async"
          (change)="toggleDarkTheme($event.checked)"
        ></mat-slide-toggle>
      </div>

      <div id="user-container">
        <button mat-mini-fab [matMenuTriggerFor]="appMenu" color="primary">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      <mat-menu #appMenu="matMenu">
        <div class="username">{{ user$ | async }}</div>
        <button
          *ngIf="user$ | async; else notLoggedIn"
          mat-menu-item
          (click)="logout()"
        >
          Logout
        </button>
        <ng-template #notLoggedIn>
          <button mat-menu-item (click)="login()">Login</button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</div>
