@mixin header-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .header-wrapper {
    background-color: mat-color($primary);
  }

  #main-title {
    color: mat-contrast($primary, 500);
    font-size: 30px;
  }

  .mat-form-field-label,
  mat-form-field,
  #searchIcon {
    color: mat-contrast($primary, 500) !important;
  }
  .mat-form-field-underline {
    background-color: mat-contrast($primary, 500) !important;
  }
}
