@import "../../../_global.scss";

#registerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

mat-form-field {
  display: flex;
  flex-direction: column;
}

@media (min-width: map-get($breakpoints, sm)) {
  mat-card {
    width: 20rem;
  }
}

@media (max-width: map-get($breakpoints, sm)) {
  mat-card {
    width: 100%;
  }
}
