<div class="manageCategoriesWrapper">
  <div class="noCategories" *ngIf="categories?.length === 0">
    Try adding a category using the button below!
  </div>
  <mat-card *ngFor="let cat of categories">
    <app-category
      [category]="cat"
      style.padding-left="{{ 1 + cat.level }}rem"
    ></app-category>
    <div>
      <button mat-flat-button (click)="openEditCategoryDialog(cat)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-flat-button [matMenuTriggerFor]="areYouSure">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-menu #areYouSure="matMenu">
        <div class="confirmation-text">
          Are you sure you want to delete this category? All links within it
          will be lost.
        </div>
        <button mat-menu-item (click)="deleteCategory(cat)">
          Yes, I'm sure
        </button>
      </mat-menu>
    </div>
  </mat-card>
  <button
    mat-raised-button
    class="overview-button"
    routerLink="/category/all"
    *ngIf="categories?.length !== 0"
  >
    back to overview
  </button>
  <div class="buttonContainer">
    <button mat-fab class="newCategoryButton" (click)="openNewCategoryDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
