@import "../../../global";
mat-card {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  position: fixed;
  @media (max-width: map-get($breakpoints, md)) {
    right: 1rem;
    bottom: 1rem;
  }
  @media (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
    right: calc(10% - 5rem);
    bottom: 1rem;
  }
  @media (min-width: map-get($breakpoints, lg)) {
    right: calc(20% - 5rem);
    bottom: 1rem;
  }
}

.noCategories {
  font-size: 1.3rem;
  padding-top: 1rem;
}

.overview-button {
  margin: 0.5rem;
}

.confirmation-text {
  padding: 1rem;
}

.editButtons {
  position: absolute;
  right: 0.5rem;
}
