<mat-card *ngFor="let cat of categories">
  <app-category
    [category]="cat"
    style.padding-left="{{ 1 + cat.level }}rem"
  ></app-category>
  <div>
    <button mat-flat-button (click)="openEditCategoryDialog(cat)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button><mat-icon>delete</mat-icon></button>
  </div>
</mat-card>
<div class="buttonContainer">
  <button mat-fab class="newCategoryButton" (click)="openNewCategoryDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
