@import "../../../global";

mat-card-title,
mat-card-subtitle {
}

mat-card {
  margin-bottom: 10px;
  position: relative;
}

.content {
  width: 100%;
  cursor: pointer;
}

.options {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  visibility: hidden;
}

mat-card:hover .options {
  visibility: visible;
}
@media (max-width: map-get($breakpoints, md)) {
  mat-card .options {
    visibility: visible;
  }
}
.confirmation-text {
  padding: 1rem;
}
