@import "../global";
.container {
  display: grid;

  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";

  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  min-height: 100vh;
  height: auto;

  @media (max-width: map-get($breakpoints, md)) {
    grid-gap: 5px;
    grid-template-columns: 0 1fr 0;
  }

  @media (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
    grid-template-columns: 10% 1fr 10%;
  }

  @media (min-width: map-get($breakpoints, lg)) {
    grid-template-columns: 20% 1fr 20%;
  }
}

app-header {
  grid-area: header;
}

.main {
  grid-area: main;
}

app-footer {
  grid-area: footer;
}

@media (max-width: map-get($breakpoints, md)) {
  .container {
    grid-gap: 5px;
    grid-template-columns: 0 1fr 0;
  }
}

@media (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
  .container {
    grid-template-columns: 10% 1fr 10%;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .container {
    grid-template-columns: 20% 1fr 20%;
  }
}
