@mixin category-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .category-tree {
    background-color: inherit !important;
  }

  .selected {
    background-color: rgba(100, 100, 100, 0.3);
  }
}
