@import "../../../global";

.category-tree-invisible {
  display: none;
}

.category-tree ul,
.category-tree li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  list-style-type: none;
}

.mat-tree-node {
  display: flex;
  justify-content: space-between;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.toggle-wrapper {
  display: flex;
}

#toggleCategories,
#categoriesLabel {
  width: 80%;
  margin-right: 0.5%;
}

#categoriesLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

mat-icon {
  margin-right: 3px;
}

button {
  font-weight: 400;
}

#editCategories {
  width: 20%;
}

mat-divider {
  margin: 0.5rem 0;
}

#allCategories {
  text-align: left;
  width: 100%;
}

mat-tree button.category-text {
  text-align: left;
  width: 100%;
}
