@mixin category-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $fds: map-get($theme, background);

  mat-tree {
    background-color: inherit !important;
  }

  #toggleCategories,
  #categoriesLabel {
    color: mat-color($accent);
  }
}
