@import "../../../global";

.category-tree-invisible {
  display: none;
}

.category-tree ul,
.category-tree li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  list-style-type: none;
}

.mat-tree-node {
  display: flex;
  justify-content: space-between;
}

.toggle-wrapper {
  display: flex;
}

#toggleCategories,
#categoriesLabel {
  width: 80%;
  margin-right: 0.5%;
}

#categoriesLabel {
  display: flex;
  align-items: center;
  mat-icon {
    margin-right: 0.25rem;
  }
}

button {
  font-weight: 400;
}

#editCategories {
  width: 20%;
}

mat-divider {
  margin: 0.5rem 0;
}

#allCategories {
  text-align: left;
  width: 100%;
  mat-icon {
    transform: scale(0.5);
  }
}

mat-tree button.category-text {
  text-align: left;
  width: 100%;
}
