<div class="toggle-wrapper">
  <button
    id="toggleCategories"
    mat-stroked-button
    *ngIf="isHandset$ | async; else elseBlock"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="material-icons"> folder </span>
    <span class="text"> categories</span>
  </button>
  <ng-template #elseBlock>
    <div id="categoriesLabel">
      <mat-icon>folder</mat-icon>
      <span class="text">categories</span>
    </div>
  </ng-template>
  <button mat-stroked-button id="editCategories">edit</button>
</div>
<mat-divider></mat-divider>

<div [@smoothCollapse]="isCollapsed && (isHandset$ | async) ? 'show' : null">
  <button mat-button id="allCategories">
    <mat-icon>bookmarks</mat-icon>
    <span>all categories</span>
  </button>
  <mat-tree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    class="category-tree"
  >
    <mat-tree-node *matTreeNodeDef="let node" matTreeToggle>
      <li class="mat-tree-node">
        <button mat-button class="category-text">
          <span class="dot" [style.background-color]="node.color"></span>
          <span class="category-name">{{ node.name }}</span>
        </button>
        <button mat-icon-button disabled></button>
      </li>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-button class="category-text">
            <span class="dot" [style.background-color]="node.color"></span>
            <span class="category-name">{{ node.name }}</span>
          </button>
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon>{{
              treeControl.isExpanded(node) ? "chevron_right" : "expand_more"
            }}</mat-icon>
          </button>
        </div>
        <ul [@smoothCollapse]="treeControl.isExpanded(node) ? 'show' : null">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</div>
