.category-tree-invisible {
  display: none;
}

.category-tree ul,
.category-tree li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  list-style-type: none;
}

.mat-tree-node {
  display: flex;
  justify-content: space-between;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
