@mixin category-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $fds: map-get($theme, background);

  .category-tree {
    background-color: inherit !important;
  }
}
