mat-form-field {
  display: flex;
  flex-direction: column;
}

.dot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid grey;
  margin-left: 1rem;
}

.colorPicker {
  display: flex;
  align-items: center;
}

.mat-flat-button {
  margin-top: 1rem;
  width: 100%;
}
