<div id="loginWrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (keydown.enter)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            id="username"
            data-cy="usernameInput"
            formControlName="username"
            placeholder="username"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            id="password"
            data-cy="passwordInput"
            formControlName="password"
            type="password"
            placeholder="password"
          />
        </mat-form-field>
      </form>
      <button
        mat-flat-button
        color="primary"
        (click)="loginForm.valid ? onSubmit() : null"
        type="submit"
      >
        Login
      </button>
      <div id="registerLink">
        <a href="/register" data-cy="registerLink"
          >Don't have an account yet? Click here to register.</a
        >
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="error" *ngIf="errorMessage">
    error: {{ errorMessage | json }}
  </mat-card>
</div>
