@import "~@angular/material/theming";
// import custom component themes
@import "app/header/header-theme.scss";
@import "app/footer/footer-theme.scss";
@import "app/category/category-list/category-list-theme.scss";
@import "app/category/manage-categories/manage-categories-theme.scss";
@include mat-core();

// for theming my own components
@mixin custom-theme($theme) {
  @include header-theme($theme);
  @include footer-theme($theme);
  @include category-list-theme($theme);
  @include manage-categories-theme($theme);

  // global custom colors
  a {
    color: mat-color($accent);
  }
}

// light theme
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-orange);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
@include custom-theme($theme);

// dark theme
.dark-theme {
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-grey);
  $dark-warn: mat-palette($mat-red);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include custom-theme($dark-theme);
}
